.teamcard {
  width: 70vw;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.team_inner {
  width: 97%;
  height: 95%;
  padding: 2%;
  display: flex;
  flex-direction: center;
  flex-wrap: wrap;
  gap: 20px;
}

.title {
  width: 95%;
  font-size: 25px;
  font-weight: bold;
  margin: 0 auto;
  padding-bottom: 1%;
}
.card {
  width: 31%;
  display: flex;
  justify-content: center;
  background-color: white;
  gap: 10px;
  border-radius: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card_in {
  width: 94%;
  height: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.img_div {
  width: 88%;
  height: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo {
  width: 100px;
  height: 100px;
  border-radius: 9999px;
  opacity: 0.5;
}
.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.name {
  font-weight: bold;
  font-size: 20px;
}
.position {
  font-size: 16px;
}
.email {
  font-size: 12px;
}
