header {
  width: 99vw;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #4e5968;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  padding: 15px 0px;
}

.logo {
  display: flex;
  justify-content: start;
  gap: 5px;
  padding-left: 1%;
}
.logo_div {
  width: 20px;
}
.logo_name {
  width: 20%;
  font-weight: 700;
  font-size: 17px;
}
.logo_img {
  width: 100%;
  object-fit: contain;
}
.header_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.header_nav > ul {
  display: flex;
  flex-direction: row;

  gap: 10px;
}

.header_nav > ul > li {
  font-weight: bold;
  padding: 12px 10px;
  border-radius: 8px;
}

.opacity_change {
  opacity: 0.7;
}

.language {
  display: flex;
  align-items: flex-end;
}

.language > ul {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: bold;
}

.language > ul > li {
  padding: 12px 10px;
  border-radius: 8px;
}

li:hover {
  background: rgba(2, 32, 71, 0.05);
}
