.container {
  width: 480px;
  margin: 0 auto;
}
.zip-code-wrap {
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: center;
}
.button-gray {
  display: flex;
  height: 44px;
  width: 84px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--tida-colors-deactivated-color-deactivated-ddd, #ddd);
  background: var(
    --tida-colors-deactivated-color-deactivated-0005,
    rgba(0, 0, 0, 0.05)
  );
  color: var(--tida-colors-text-text-gray-999, #999);
  font-family: SUITE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.28px;
}

.text-size-40 {
  font-size: 40px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.02em;
  text-align: center;
}

.text-size-22 {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.44px;
}

.text-size-14 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.28px;
}

.color-999 {
  color: #999;
}
.margin-right-16 {
  margin-right: 16px;
}
.display-flex {
  display: flex;
}

.error-text {
  display: none;
  position: absolute;
  bottom: -24px;
  color: #f74927;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.28px;
  transform: translateY(50%);
}

.round-button {
  width: 480px;
  height: 72px;
  border-radius: 50px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  background: rgb(187, 187, 187, 1);
  cursor: pointer;
}

.display-none {
  display: none;
}
