* {
  box-sizing: border-box;
}
.wrap {
  width: 100vw;
  max-width: 760px;
  border: none;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.product {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgb(235, 238, 242);
}
.product__div__top {
  width: 100%;
  display: flex;
}
.product__div__bottom {
  width: 100%;
  background-color: rgb(241, 243, 246);
  font-size: 12px;
  opacity: 0.7;
  padding: 5px;
  border-radius: 5px;
  display: flex;
}
.product__div__bottom_title {
  color: rgb(153, 159, 169);
  margin-right: 50px;
  font-weight: bold;
}

.product__div__bottom_service {
  color: rgb(61, 65, 73);
}
.imgDiv {
  width: 30%;
  margin-bottom: 5%;
  margin-right: 5%;
}
.div__img {
  width: 100%;
  border-radius: 5px;
}
.contentDiv {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  gap: 5px;
}
.contentGenure {
  display: flex;
  justify-content: space-between;
}
.contentGenure__subDiv {
  color: rgb(153, 159, 169);
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contentGenure__subbutton {
  font-size: 12px;
}
.contentGenure__subbutton__a {
  cursor: pointer;
}
.gymname {
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: -0.2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.address {
  color: rgb(153, 159, 169);
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: -0.2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.price {
  width: 100%;
  text-align: end;
  align-items: end;
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.2px;
}
.gymname:hover {
  color: #6776e3;
}
.map_div {
  width: 400px;
  height: 200px;
}
