body {
  width: 100vw;
  max-width: 768px;
  margin: 0 auto;
}
main {
  width: 100%;
  margin: 0 auto;
}
.flex_column {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .main_menu__ul__li > a > div {
    max-width: 1024px;
  }
}

.gradient_font {
  background-image: linear-gradient(135deg, #e6ba5d 0%, #9ac78a 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
