.box {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  /* 글씨 가운데 정렬 */
  text-align: center;
}
.ice {
}

.box1 {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  /* 왼쪽 오른쪽 같게 마진 배분 */
  margin: 0 auto;
}

.block {
  width: 50%;
  height: 50%;
  background-color: green;
  margin: 25% auto;
}
