body {
  background-color: #030514;
  color: white;
}
header {
  width: 100vw;
}
nav {
  width: 100%;
  padding: 1% 2%;
  display: flex;
  justify-content: space-between;
}
.header_etc {
  display: flex;
  justify-content: center;
  gap: 10%;
}

main {
  width: 100%;
}
.container {
  max-width: 1046px;
  width: 100%;
  margin: 0 auto;
}

.sec1 {
  position: relative;
  height: 60vh;
}
.sec1__h2 {
  font-size: 10rem;
  text-align: center;
  margin-top: 20%;
}

.img1 {
  position: absolute;
  left: auto;
  top: -25%;
  right: 16%;
  /* z-index: -2; */
  width: 16vw;
}
.sec1__p {
  width: 40%;
  font-size: 2rem;
  margin-left: 60%;
}
.sec2 {
  width: 100%;
  height: 100vh;
}

.sec2__div {
  width: 45%;
  height: 40vh;
  margin: 0 auto;
  position: relative;
  font-size: 8rem;
  font-weight: bold;
}
.sec2_text {
  opacity: 0;
}
.leftoptext {
  position: absolute;
  top: 0;
  left: 0;
}
.rightbottext {
  position: absolute;
  top: 25%;
  right: 0;
}
.entertext {
  position: absolute;
  bottom: 0;
  color: #030514;
  -webkit-text-stroke: 1px #fff;
}
