header {
  width: 100vw;
  background-color: white;
  color: #555;
  position: fixed;
  z-index: 10;
}
a {
  text-decoration: none;
}
nav {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  padding-top: 15px;
  font-size: 25px;
}
.logo > h1 > a {
  color: #555;
}

.nav_menu > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav_menu > ul > li {
  font-size: 15px;
  font-weight: bold;
}

.nav_menu > ul > li > a {
  display: block;
  color: #555;
  padding: 20px 40px;
  transition: all 0.3s;
}
.nav_menu > ul > li > a:hover {
  background-color: #555;
  color: #fff;
}
