main {
  width: 100%;
  color: #555;
  background-image: url(../image/newyork.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_section1 {
  width: 100%;
  margin: 0 auto;
  padding: 150px 0px;

  /* padding: 150px 0px; */
  /* max-width: 1180px; */

  display: flex;
  flex-direction: column;
  justify-content: center;

  z-index: 0;
  position: relative;
}

.sec1_div {
  max-width: 1180px;
  margin-left: 10%;
  color: white;
  z-index: 5;
}

.sec1_div > h2 {
  font-size: 120px;
  margin-bottom: 20px;
}
.sec1_div_p {
  font-size: 16px;
  color: #888;
  margin-bottom: 30px;
}
.link {
  width: 40%;
  text-align: center;
  border: 1px solid white;
  z-index: 9999;
}
.link > a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 11px;
  font-weight: bold;
  transition: all 0.5s;
  padding: 10px 5px;
}
.link > a:hover {
  background: #fff;
  color: #555;
}
.blur {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: white;
  opacity: 0.3;
  z-index: 1;
}
