.counter_wrap {
  width: 90px;
  height: 30px;
}
button {
  width: 30px;
  border: 1px solid black;
  background-color: bisque;
  color: chocolate;
}
span {
  width: 26px;
  color: blue;
  background-color: beige;
}
