.container {
  width: 800px;
  margin: 0 auto;
}
.head_text {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.head_text > h5 {
  font-size: 15px;
}
.more_view {
  display: flex;
  justify-content: center;
  align-items: center;
}
.more_view > a {
  color: gray;
  font-size: 12px;
}
.item_box {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.item {
  max-width: 200px;
  height: 91%;
  padding: 6%;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}
.item > div {
  padding: 2px;
  font-weight: bold;
  font-size: 14px;
}
.item_img {
  width: 100%;
}
.item_img > img {
  width: 100%;
  object-fit: cover;
}

.red {
  color: red;
  margin-right: 4px;
}

.heart {
  width: 10px;
  height: 10px;
  background: #ea2027;
  position: relative;
  transform: rotate(45deg);
}
.heart::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: -50%;
  border-radius: 50%;
  background: #ea2027;
}
.heart::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: -50%;
  border-radius: 50%;
  background: #ea2027;
}
